@import '../../../assets/scss/variables.scss';


.container {
    padding-top: 20px;
    button {
        background-color: $color3;
        color: white;
        font-size: 16px;
        font-weight: 200;
        i {
            margin-right: 5px;
            vertical-align: middle;
        }
        span{
            vertical-align: middle;
        }
        &:hover {
            background-color: lighten($color3, 10%);
        }
    }
}

.container.ar {
    direction: rtl;
    button {
        i {
            margin-left: 5px;
        }
    }
}

.user-card {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 50px;
    .checkboxes-wrapper {
        padding-bottom: 1.7em;
        .mat-checkbox{
            margin-right: 40px;
        }
    }
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
    .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }
    .info-section {
        display: inline-block;
        width: 100%;
        .right-side {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        .left-side {
            width: 49%;
            margin-right: 2%;
            display: inline-block;
            vertical-align: top;
        }
        mat-form-field {
            width: 100%;
        }
    }
}


.mat-checkbox-inner-container {
    margin-left: 5px !important;
    margin-right: 0;
}

.user-card.ar {
    direction: rtl;
    .checkboxes-wrapper {
        .mat-checkbox{
            margin-right: 0;
            margin-left: 40px;
        }
    }
    .example-container .mat-form-field + .mat-form-field {
        margin-right: 8px;
    }
    .info-section {
        .right-side {
            margin-right: 2%;
            .input-container .checkboxes-wrapper .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
                margin: 0;
                margin-left: 10px;
            }
        }
        .left-side {
            margin-right: 0;
        }
        * {
            text-align: right;
        }
    }
}
  
