<app-page-title [pageTitle]="pageTitle" [infoTitle]="infoTitle" [iconTitle]="iconTitle" [language]="language">
</app-page-title>
<div class="container {{language}}">
    <app-back-button></app-back-button>
</div>
<mat-card class="user-card {{language}}">
    <mat-card-header style="margin: 0 !important;">
        <mat-card-title>{{departmentSelected.name}}</mat-card-title>
        <mat-card-subtitle>{{departmentSelected.numberOfEmployees}} active employees</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit(editDepartmentForm)" #editDepartmentForm="ngForm">
            <div class="info-section">
                <div class="left-side">
                    <div class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="" required [(ngModel)]="departmentNewInfo.name" name="name"
                                #name="ngModel">
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Number of employees</mat-label>
                            <input matInput placeholder="" required #numberOfEmployees="ngModel"
                                [(ngModel)]="departmentNewInfo.numberOfEmployees" name="numberOfEmployees">
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Responsable</mat-label>
                            <input matInput placeholder="" required #responsable="ngModel"
                                [(ngModel)]="departmentNewInfo.responsable" name="responsable">
                        </mat-form-field>
                    </div>
                </div>
                <div class="right-side">
                    <div class="input-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Priority</mat-label>
                            <mat-select [(ngModel)]="departmentNewInfo.priority" name="departmentNewInfo.priority">
                                <mat-option *ngFor="let priority of priorityOptions" [value]="priority" name="priority">
                                    {{priority}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <section class="example-section checkboxes-wrapper">
                            <mat-label>Tecnology stack</mat-label>
                            <br>
                            <mat-checkbox *ngFor="let tecnologyOption of tecnologiesOptions" name="tecnologyOption"
                                (changed)="selectTecnologyOption(tecnologyOption)"
                                [checked]="departmentNewInfo.tecnologiesOptions.includes(tecnologyOption) ? true : false">
                                {{tecnologyOption}}
                            </mat-checkbox>
                        </section>
                    </div>
                    <div class="input-container">
                        <section class="example-section">
                            <mat-label>Want to add a comment?</mat-label>
                            <br>
                            <mat-radio-group [(ngModel)]="commentController" name="commentController">
                                <mat-radio-button class="example-margin" value="yes">Yes</mat-radio-button>
                                <mat-radio-button class="example-margin" value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                </div>
                <div *ngIf="commentController == 'yes'">
                    <mat-form-field class="example-full-width">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput placeholder=""></textarea>
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions>
                <button mat-button type="submit">Save</button>
                <button mat-button type="button" (click)="resetForm()">Reset</button>
                <button mat-button type="button" (click)="clearForm()">Clear</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>