@import '../../../assets/scss/variables.scss';


.container {
    padding-top: 20px;
    button {
        background-color: $color3;
        color: white;
        font-size: 16px;
        font-weight: 200;
        i {
            margin-right: 5px;
            vertical-align: middle;
        }
        span{
            vertical-align: middle;
        }
        &:hover {
            background-color: lighten($color3, 10%);
        }
    }
}

.container.ar {
    direction: rtl;
    button {
        i {
            margin-left: 5px;
        }
    }
}

.user-card {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 50px;
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
    .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }
    .info-section {
        display: inline-block;
        width: 100%;
        .right-side {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        .left-side {
            width: 49%;
            margin-right: 2%;
            display: inline-block;
            vertical-align: top;
        }
        mat-form-field {
            width: 100%;
        }
    }
    .avatar-container {
        display: inline-block;
        width: 50%;
        .avatar-section {
            display: flex;
            flex-wrap: wrap;
            .avatar-wapper {
                width: 18%;
                padding: 1%;
                text-align: center;
                &:hover {
                    background-color: lighten($color3, 60%);
                    transition: all .3s;
                    cursor: pointer;
                }
                &.active-avatar {
                    background-color: lighten($color3, 40%);
                }
                img {
                    width: 100px;
                }
            }
        }
    }
}
  
