$color1: #05386b;
$color2: #f7570e;
$color3: #05102c;
$color4: #1A4645;
$color5: #f7570e;
$smooth-grey: #DCDCDC;
$info-grey: #bfbfbf;


// $color1: #F8BC24;
// $color2: #F58800;
// $color3: #266867;
// $color4: #1A4645;
// $color5: #051821;
// $smooth-grey: #DCDCDC;
// $info-grey: #bfbfbf;

$font: 'Roboto', sans-serif;

$containerPadding: 120px;