<div class="footer-container">
    <footer class="{{language}}">
        <div class="copy-side">
            <span class="copyright">
                {{displayNames.copyright}}
            </span>
        </div>
        <div class="social-side">
            <span class="social-media">
                <span>
                    <i class="fab fa-facebook-f"
                        title="https://www.facebook.com/pages/The-Executive-Council-Government-of-Dubai/297120943761833"></i>
                </span>
                <span>
                    <i class="fab fa-instagram" title="https://www.instagram.com/tecofdubai/"></i>
                </span>
                <span>
                    <i class="fab fa-twitter" title="https://twitter.com/TECofDubai"></i>
                </span>
            </span>
        </div>
    </footer>
</div>