<app-page-title
    [pageTitle]="pageTitle"
    [infoTitle]="infoTitle"
    [iconTitle]="iconTitle"
    [language]="language">
</app-page-title>
<div class="container {{language}}">
    <div class="top-section">
        <div class="left-top-section">
            <app-line></app-line>
        </div>
        <div class="center-top-section">
            <app-pie></app-pie>
        </div>
        <div class="right-top-section">
            <app-bars></app-bars>
        </div>
    </div>
    <div class="bottom-section">
        <div class="left-bottom-section">

        </div>
        <div class="right-bottom-section">
            
        </div>
    </div>
</div>