<div class="header-container">
  <app-user-info></app-user-info>
  <div class="navbar {{ language }}">
    <div class="nav-side">
      <div class="nav-tab">
        <a 
          class="effect-underline"
          [ngClass]="tabName == 'users' ? 'active-link' : ''" 
          routerLink="usersList" 
          (click)="updateTabName('users')">{{displayNames.users}}</a>
      </div>
      <div class="nav-tab">
        <a 
          class="effect-underline" 
          [ngClass]="tabName == 'departments' ? 'active-link' : ''" 
          routerLink="departments"
          (click)="updateTabName('departments')">{{displayNames.departments}}</a>
      </div>
      <div class="nav-tab">
        <a 
          class="effect-underline"
          [ngClass]="tabName == 'about' ? 'active-link' : ''" 
          routerLink="about" 
          (click)="updateTabName('about')">{{displayNames.about}}</a>
      </div>
    </div>
    <div class="lang-side">
      <div class="en-icon icon" (click)="changeLanguage('en')" [ngClass]="language == 'en' ? 'active-link' : ''">
        <img src="../../../assets/img/united-kingdom.svg" alt="english">
      </div>
      <div class="ar-icon icon" (click)="changeLanguage('ar')" [ngClass]="language == 'ar' ? 'active-link' : ''">
        <img src="../../../assets/img/saudi-arabia.svg" alt="arabic">
      </div>
    </div>
  </div>
</div>