<app-page-title [pageTitle]="pageTitle" [infoTitle]="infoTitle" [iconTitle]="iconTitle" [language]="language">
</app-page-title>
<app-confirmation-modal 
    *ngIf="showModal" 
    [modalTitle]="displayNamesConfirmationModal.confirmDeleteTitle"
    [modalYes]="displayNamesConfirmationModal.yes" 
    [modalNo]="displayNamesConfirmationModal.no"
    (confirm)="handleDeleteConfirm()" 
    (close)="handleModalClose()">
</app-confirmation-modal>
<div class="container {{language}}">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="id-header"> ID </th>
                <td mat-cell *matCellDef="let row"> {{row._id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-header"> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="numberOfEmployees">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="employees-header"> Number Of Employees
                </th>
                <td mat-cell *matCellDef="let row"> {{row.numberOfEmployees}} </td>
            </ng-container>
            <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="responsable-header"> Responsable </th>
                <td mat-cell *matCellDef="let row"> {{row.responsable}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="actions-header"> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="primary" class="edit-btn" (click)="goToEditDepartment(row._id)">Edit</button>
                    <button mat-raised-button color="warn" class="delete-btn" (click)="openModal(row._id)">Delete</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{filterInput.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 150]"></mat-paginator>
    </div>
</div>