.container {
    margin-top: 30px;
    table {
        width: 100%;
      }
      .cdk-column-actions {
        min-width: 150px;
      }
      .cdk-column-id {
        min-width: 260px;
      }
      .mat-form-field {
        font-size: 18px;
        width: 20%;
      }
      .id-header {
        width: 10%;
      }
      .name-header {
        width: 30%;
      }
      .employees-header {
        width: 20%;
      }
      .responsable-header {
        width: 25%;
      }
      button {
        line-height: 2.3;
        font-size: 14px;
      }
      .edit-btn {
        margin-right: 10px;
      }
}

.container.ar {
    direction: rtl;
    table {
      th {
        text-align: right;
      }
      th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-right: 24px;
        padding-left: 0;
      }
      th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        min-width: 190px;
        padding-left: 0;
      }
      .cdk-header-cell.mat-column-actions {
        padding-right: 37px;
      }
    }
    .edit-btn {
      margin-left: 10px;
    }
}