<app-page-title
    [pageTitle]="pageTitle"
    [infoTitle]="infoTitle"
    [iconTitle]="iconTitle"
    [language]="language">
</app-page-title>
<app-confirmation-modal
    *ngIf="showModal"
    [modalTitle]="displayNamesConfirmationModal.confirmDeleteTitle"
    [modalYes]="displayNamesConfirmationModal.yes"
    [modalNo]="displayNamesConfirmationModal.no"
    (confirm)="handleDeleteConfirm()"
    (close)="handleModalClose()">
</app-confirmation-modal>
<div class="container container-users-list {{language}}">
    <div class="add-new-user" *ngIf="userType == 'Admin'">
        <div class="button-container">
            <button mat-raised-button (click)="goToAddUser()">+ Add new user</button>
        </div>
    </div>
    <ul class="cards {{language}}">
        <li class="user-card-item" *ngFor="let user of users">
            <div class="user-card">
                <div *ngIf="user.avatarUrl; then hasAvatar else defaultAvatar"></div>
                <ng-template #hasAvatar>
                    <div class="user-card-pb card__image--fence" style="background-image: url({{user.avatarUrl}})">
                    </div>
                </ng-template>
                <ng-template #defaultAvatar>
                    <div class="user-card-pb card__image--fence"
                        style="background-image: url(https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg)">
                    </div>
                </ng-template>
                <div class="user-card-img"
                    style="background-image: url(https://wallpapershome.com/images/pages/pic_hs/181.jpg);"></div>
                <div class="user-card-cont">
                    <div class="user-card-title">{{ user.name }}</div>
                    <p class="user-id">
                        <b>{{ displayNames.id }}:</b>
                        {{ user._id }}
                    </p>
                    <p class="user-card-text">{{ user.email }}</p>
                </div>
                <div class="btn-row" *ngIf="userType == 'Admin'">
                    <button (click)="editUser(user._id)">
                        <i class="fas fa-edit edit-btn"></i>
                    </button>
                    <button (click)="openModal(user._id)">
                        <i class="fas fa-trash-alt edit-btn red"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>